body {
  font-family: 'Roboto', sans-serif; /* Police moderne */
  margin: 0;
  padding: 0;
  background-color: #000000; /* Fond noir */
  color: #FFFFFF; /* Texte blanc */
}

/* Conteneur pour les étoiles */
.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Derrière tout le contenu */
}

/* Style des étoiles */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #FFFFFF; /* Couleur blanche pour les étoiles */
  border-radius: 50%;
  animation: shooting-star 2s linear infinite;
}

/* Animation des étoiles filantes */
@keyframes shooting-star {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(100vw);
    opacity: 0;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer verticalement */
  align-items: center;
  /*height: 100vh;  Prendre toute la hauteur de la page */
  padding: 20px;
  margin-bottom: -40px;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2.5rem;
  color: #FFFFFF; /* Texte blanc */
}

header p {
  font-size: 1.2rem;
  color: #FFFFFF; /* Texte blanc */
}

.audio-recorder {
  text-align: center;
  background: #1a1a1a; /* Gris foncé */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: auto; /* Ajuste automatiquement la largeur */
  margin: 0 auto; /* Centre horizontalement */
}

.audio-recorder h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #FFFFFF; /* Texte blanc */
}

.record-button {
  background-color: #800080; /* Violet */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px; /* Bouton arrondi */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.record-button:hover {
  background-color: #9932CC; /* Violet clair */
}

.record-button.recording {
  background-color: #FF4500; /* Rouge vif */
}

.audio-preview {
  margin-top: 20px;
}

audio {
  width: 100%;
}

.logo {
  width: 400px; /* Taille ajustée pour le logo */
  margin-bottom: -60px;
}

.song-info {
  margin-top: 20px;
  text-align: center;
  background: #1a1a1a; /* Gris foncé */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: auto;
}

.song-info h3 {
  color: #FFFFFF; /* Texte blanc */
  margin-bottom: 10px;
}

.song-info p {
  color: #FFFFFF; /* Texte blanc */
  font-size: 1rem;
  margin: 5px 0;
}

.audio-recorder p {
  color: #FFFFFF; /* Texte blanc */
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.record-button {
  background-color: #800080; /* Violet */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px; /* Bouton arrondi */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.record-button:hover {
  background-color: #9932CC; /* Violet clair */
}

.animation {
  color: #FFFFFF; /* Texte blanc */
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.error-message {
  margin-top: 20px;
  text-align: center;
  color: #FF4500; /* Rouge vif */
  font-size: 1.2rem;
}

.lyrics-button {
  background-color: #800080; /* Violet */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px; /* Bouton arrondi */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.lyrics-button:hover {
  background-color: #9932CC; /* Violet clair */
}

.lyrics-button.disabled {
  background-color: #555; /* Gris pour les boutons désactivés */
  cursor: not-allowed;
}

.share-button {
  background-color: #800080; /* Violet */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 50px; /* Bouton arrondi */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #45A049; /* Vert clair */
}

.share-link {
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF; /* Texte blanc */
}

.share-link a {
  color: #800080; /* Violet */
  text-decoration: none;
}

.share-link a:hover {
  text-decoration: underline;
}

.audio-recorder {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.record-button,
.preview-button,
.platform-button,
.share-button {
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.record-button:hover,
.preview-button:hover,
.platform-button:hover,
.share-button:hover {
  background-color: #9932CC; /* Violet clair */ 
}

.animation {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

.song-info img {
  border-radius: 10px;
  margin: 10px 0;
}

.song-info button {
  display: block;
  margin: 10px auto;
}

.error-message {
  color: red;
  font-weight: bold;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a; /* Fond gris foncé */
  padding: 7px 0px;
  border-radius: 20px; /* Bordures arrondies */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}

.play-pause-button {
  background-color: #800080; /* Violet */
  color: white;
  border: none;
  border-radius: 50%; /* Bouton rond */
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-pause-button:hover {
  background-color: #9932CC; /* Violet clair */
}

.progress-bar {
  -webkit-appearance: none; /* Supprime le style par défaut */
  appearance: none;
  width: 100%;
  height: 8px;
  background: #555; /* Fond gris */
  border-radius: 5px;
  outline: none;
  margin-left: 15px;
  cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #800080; /* Violet */
  border-radius: 50%; /* Curseur rond */
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #800080; /* Violet */
  border-radius: 50%; /* Curseur rond */
  cursor: pointer;
}

.apple-music-button {
  background-color: #fa243c; /* Rouge Apple Music */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.apple-music-button:hover {
  background-color: #d91e36; /* Rouge plus foncé */
}

.spotify-button {
  background-color: #1db954; /* Vert Spotify */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.spotify-button:hover {
  background-color: #1aa34a; /* Vert plus foncé */
}

.lyrics-container {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}

.lyrics-container pre {
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #333;
}

.lyrics-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.lyrics-button:hover {
  background-color: #0056b3;
}
